<div class="bg-gray-950 flex items-center fixed top-0 left-0 w-full px-6 py-4 z-50 shadow-md shadow-gray-800 opacity-100">
    <div class="flex-1 flex items-center space-x-2 font-semibold">
        <i class="fa-solid fa-user text-xl"></i>
        <form action="/" method="get">
            <button class="text-4xl">Ausaja</button>
        </form>
    </div>

    <div class="flex space-x-1">
        <form action="/about" method="get">
            <button class="text-base px-4 py-2 rounded-md border border-transparent hover:border-white hover:bg-white hover:text-gray-800 transition duration-300 ease-in-out">
                About Me
            </button>
        </form>
        <form action="/project" method="get">
            <button class="text-base px-4 py-2 rounded-md border border-transparent hover:border-white hover:bg-white hover:text-gray-800 transition duration-300 ease-in-out">
                Projects
            </button>
        </form>
        <form action="/contact" method="get">
            <button class="text-base px-4 py-2 rounded-md border border-transparent hover:border-white hover:bg-white hover:text-gray-800 transition duration-300 ease-in-out">
                Contact Me
            </button>
        </form>
    </div>
</div>